* {
  box-sizing: border-box;
}

.canvas-wrapper {
  height: 600px;
  width: 100%;
  /* border: solid 1px #aaa; */
  padding: 0;
  position: relative;
}

.controls {
  font-family: Arial;
  font-size: 0.8rem;
  margin: 6px 2px;
}

.input-moving-average {
  width: 30px;
  text-align: center;
  color: blue;
}

.input-symbol {
  width: 50px;
  margin-right: 8px;
  margin-left: 2px;
  font-size: 1.2rem;
  border: none;
  color: blue;
  /* border-bottom: solid 1px #444; */
}

.line-date {
  /* background: #ccc;
  width: 1px; */
  border-left: dashed 1px #ccc;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  transition: all 200ms;
}

.info-label {
  position: absolute;
  width: 110px;
  top: 0px;
  left: 0px;
  padding: 6px;
  background-color: #eeea;
  font-family: Arial;
  font-size: 0.7rem;
  white-space: pre-wrap;
  transition: all 200ms;
}

.line-date.right {
  text-align: right;
}
